

            <p class="main-txt"> I’ve made some free downloadable doodle guides for your 
                mini Van Gough’s..Or yourselves? <br>
            </p>
                
            <p id="quote-txt"> 
                <b> <i> "Pass the time creatively and even squeeze in some subtle teaching" </i> </b> 
            </p>
                
            <p class="main-txt">Created by a medium sized Van Gough from Taunton, doing what she can to help during these crazy times. 
                    If you like what you see, follow me on Instagram and Facebook for unlimited doodles.
            </p>

            <img src="/images/steps.png" alt="How to get files" id="how-to"/>


          


@code {

}
