@using CaitCreates.Components


@page "/";
<div class="container">

        <div class="banner">
            <img src="/images/websiteheadingtransparent.png" alt="Cait Creates Art Banner" id="banner-top"/>
        </div>

        <div class="row">
            <div class="col-10 intro">
                <Intro />
            </div>
        </div>


        <div class="row">
            <div class="col card-container">
                <CardLineUp/>                
            </div>
        </div>
      
</div>



